		<div class="page-top">
			<div class="parallax" style="background:url(images/parallax1.jpg);"></div>
			<div class="container">
				<h1><span>ABNI (Associação Batista Novo Israel)</span></h1>
				<ul>
					<li><a href="#/" title="">Home</a></li>
					<li><a href="" title="">ABNI</a></li>
				</ul>
			</div>
		</div><!--- PAGE TOP -->

		<section>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-md-8 column">
							<div class="service-block">
								<div class="service-image">
									<img src="images/projetos/abni_logo_g.png" alt="" />
									<br/>
									<br/>
									<i class="fa fa-codepen"></i>
								</div>
								<h3>ABNI</h3>
								<p>Os noticiários, todos os dias, mostram-nos uma realidade social crua, violenta, injusta, revoltante. Aí, como cristão, ponho-me a pensar: como seria nosso país se pelo menos um terço das igrejas evangélicas locais colocassem em prática os ensinamentos de Jesus Cristo e viabilizassem projetos sociais? Que resultado teríamos a curto, médio e longo prazos?
										Independente da quantidade de membros e da estrutura de seu templo, cada igreja (de qualquer denominação) tem condições de levar à prática por meio de providências concretas projetos sociais que causem impacto e fomentem resultados positivos. Senão vejamos alguns projetos que podem ser implementados para atuarem junto a crianças e adolescentes carentes e de rua.
										<br/>
										Essas igrejas são fábricas de músicos. Isso é fato. Cada músico poderia dedicar uma parte de seu tempo para ensinar a tocar algum instrumento, inclusive buscando apoio junto a empresários para a sua aquisição para propiciar o bom andamento das aulas.
										Algumas dessas igrejas tem ministérios de dança. Cada integrante desses grupo poderiam dedicar parte de seu tempo para dar aulas de danças para as comunidades carentes.
										Membros dessas igrejas, sejam atletas profissionais ou de finais de semana, poderiam criar projetos voltados para a prática de esportes – em suas várias modalidades.
										A maioria dos membros dessas igrejas poderia dedicar parte de seu tempo para dar aulas de reforço para alunos com dificuldades na escola, incentivando os estudos, o gosto pela leitura, pela escrita.
										Pessoas dedicadas às artes plásticas poderiam desenvolver projetos junto a pichadores, sejam de comunidades carentes ou de classe média, conscientizando-os de que a propriedade particular, a comercial e o patrimônio público precisam ser respeitados e preservados. Isso também poderia ser feito em parceria com escolas, para que os estudantes cuidassem melhor do prédio escolas, das salas de aula, das carteiras, de tudo que eles utilizam e desfrutam no ambiente escolar.
										As igrejas maiores, em suas denominações, poderiam organizar projetos sociais para a retirada de meninos de rua, de mendigos, de moradores de rua em geral, resgatando-lhes a cidadania.
										<br/>
										Esses são apenas alguns exemplos de projetos e algumas sugestões. Acreditamos que a viabilização de projetos sociais por parte de pelos um terço das igrejas evangélicas, em seus bairros, em suas cidades, em seus estados, causaria um impacto imenso e mudaria satisfatoriamente nossa realidade social, inclusive os noticiários.</p>

								<blockquote>
									<div class="parallax" style="background:url(images/parallax2.jpg);"></div>
									<i class="fa fa-quote-left"></i>E perseveravam na doutrina dos apóstolos, e na comunhão, e no partir do pão, e nas orações. (Atos 2:42)<i class="fa fa-quote-right"></i></blockquote><!-- BLOCKQUOTE -->
								</div>
							</div>

							<aside class="col-md-4 sidebar column">
								<div class="widget">
									<div class="widget-title"><h4>VIDEO</h4></div>
									<div class="video">
										<div class="video-img lightbox">
											<img src="http://placehold.it/550x336" alt="" />
											<a href="https://www.youtube.com/watch?v=M55scajzL8c" title="" target="_blank" data-poptrox="youtube"><i class="fa fa-play"></i></a>
										</div>
									</div>
								</div><!-- VIDEO -->
							</aside><!-- SIDEBAR -->
						</div>
					</div>
				</div>
			</section>
