<div class="page-top">
  <div class="parallax" style="background:url(images/parallax1.jpg);"></div>
  <div class="container">
    <h1>A <span>IGREJA</span></h1>
    <ul>
      <li><a href="index.html" title="">Home</a></li>
      <li><a href="about.html" title="">A IGREJA</a></li>
    </ul>
  </div>
</div>

<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-md-6 column">
          <div class="simple-text">
            <h3>MISSÃO, VISÃO E VALORES</h3>
            <p>
              Nosso propósito é levar pessoas a um relacionamento intenso com Deus, amar e servir ao próximo e fazer Jesus conhecido de todos os povos, no poder do Espírito Santo.
            </br>&nbsp  &nbsp A visão da nossa igreja está pautada em sentimentos que Deus foi colocando ao longo do tempo no coração de sua liderança. Queremos ser uma igreja que cresce em direção a Deus, num compromisso sério com Ele, buscando conhecê-Lo na Sua intimidade, poder, Graça e em Sua força. E por isso todo ministério está pautado na Palavra de Deus, na exposição bíblica, numa visão de mobilização de todo povo de Deus, à intercessão e ao discipulado.
            O segundo aspecto desta visão é um crescimento para fora, no sentido de ser uma igreja contextualizada, que faz diferença na comunidade e que penetra em todos os campos da sociedade, deixando a marca do sal e da luz do Senhor Jesus.
            <br> &nbsp  &nbsp  Por isso queremos fazer Jesus conhecido de todos os povos, de todas as pessoas e queremos servir ao nosso semelhante demonstrando o poder e o amor do Senhor Jesus de modo prático.
            O terceiro aspecto desta visão é quando nós olhamos prá dentro, e ao mesmo tempo que queremos ser essa igreja que tem uma intensa busca espiritual e uma missão muito forte dentro do coração de cada membro, desejamos ser também uma igreja comunidade, uma igreja família, uma igreja que olha uns para os outros, e que se relaciona com intensidade e amor.
          </p>
        </div>
      </div>
      <div class="col-md-6 column">
        <div class="video">
          <div class="video-img lightbox">
            <img src="images/a_igreja.jpeg" alt="" />
            <a href="https://www.youtube.com/watch?v=CJMh5M9Hgso&t=" title="Palavra do apóstolo" data-poptrox="youtube"><i class="fa fa-play"></i></a>
          </div>
        </div><!-- VIDEO -->
      </div>
    </div>
  </div>
</div>
</section>
