<link href="css/agenda.css" rel="stylesheet" type="text/css" />

<div class="page-top">
	<div class="parallax" style="background:url(images/parallax1.jpg);"></div>
	<div class="container">
		<h1><span>Agenda Semanal</span></h1>
		<ul>
			<li><a href="#" title="">Home</a></li>
			<li><a title="">Agenda Semanal</a></li>
		</ul>
	</div>
</div><!--- PAGE TOP -->
<section>
	<div class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-9 column">

					<div class="title4"><h2>Agenda <span>Semanal</span></h2></div>

					<table class="containerAgenda">
						<thead>
							<tr>
								<th><h1>Dia</h1></th>
								<th><h1>Atividade</h1></th>
							</tr>
						</thead>
						<tbody>

							<!--SEGUNDA FEIRA-->
							<tr>
								<td rowspan="2" align="center">Segunda -feira </br> 06/11/2017</td>
								<td align="center"><span class="bold">13h </span> – Campanha de 7 Semanas de Oração – Guardião: Diác. Claudino </br>
										 									 Tema : Não se conforme, transforme... (3ª semana)
								</td>
							</tr>
							<tr>
								<td align="center"> 19h – Escola da Bíblia- (10ª Lição) Uma viagem dramática a Roma </br>
																		19h – Escola para novos Discípulos /Coord. Miss. Socorro Campos
								</td>
							</tr>

							<!--TERÇA FEIRA-->
							<tr>
								<td rowspan="3" align="center">Terça - feira</br>07/11/2017</td>
								<td align="center"><span class="bold">6h às 8h – Consagração para toda a Igreja – Guardião: Ob. Damião
								</td>
							</tr>
							<tr>
								<td align="center"> Culto Missionário no Ponto de Pregação Peniel </br>
																		Local: Rua B, próximo ao Colégio Eduardo Campos/Coord. Pb. Franceildo.
								</td>
							</tr>
							<tr>
								<td align="center"> 19h - Curso de Teologia/Coord. Pr. Edimilson
								</td>
							</tr>

							<!--QUARTA FEIRA-->
							<tr>
								<td rowspan="2" align="center">Quarta - feira</br> 08/11/2017</td>
								<td align="center">De 9h às 12h – Culto de Encontro com Deus – Coord. Ap. Assis</td>
							</tr>
							<tr>
								<td align="center"> 19h – Campanha 14 Semanas</br>
																			Tema: Resistindo o Inimigo (12º Semana) Divisa: Tiago 4:7</br>
																			Participação: M. Homens, Doullos, M. Mulheres, M. J. Ágape, Yhaweh Shamah, Ofertório: Ketile</br>
																			Coord. Bp. Márcio Anunciação
								</td>
							</tr>

							<!--QUINTA FEIRA-->
							<tr>
								<td rowspan="2" align="center">Quinta - feira</br> 09/11/2017</td>
								<td align="center">14h – Comissão de Visitas aos enfermos</td>
							</tr>
							<tr>
								<td align="center"> 19h - Edificação Geral para toda a Igreja/Coord. Bp. Márcio</br>
																		20h – Atividades para os Departamentos</br>
																		20h – Curso Teológico para Ministros da Área Central/Bp. Márcio</br>
								</td>
							</tr>

							<!--SEXTA FEIRA-->
							<tr>
								<td rowspan="1" align="center">Sexta - feira</br> 10/11/2017</td>
								<td align="center">18h – Encontro de Comissões na Missão em Rurópolis-02</br>
																	 19h – Ensaios, Oração, Estudo da Escola Bíblica e Integração a Família</td>
							</tr>

							<!--SABADO-->
							<tr>
								<td rowspan="2" align="center">Sábado</br> 11/11/2017</td>
								<td align="center">14h – Círculo de Oração Infantil</td>
							</tr>
							<tr>
								<td align="center"> 19h – Culto de Gratidão a Deus pelo 14º Ano da Missão em Rurópolis 01 e
														pelo 14º Ano do Ministério de Mulheres.</br>
																Participação da Área Central
								</td>
							</tr>

							<!--DOMINGO-->
							<tr>
								<td rowspan="2" align="center">Domingo</br> 12/11/2017</td>
								<td align="center">09h – Edificação para o Ministério Diaconal – Coord. Bp. Márcio</br>
																	14h – Evangelização.... Junte-se a nós!!! Coord. Pr. Domingos
																</td>
							</tr>
							<tr>
								<td align="center"> 19h – Culto de Gratidão a Deus pelo </br>
																		1º Ano do Jogral Adoradores de Jerusalém </br>
																		Dirigente: Diácº Maurilio Ribeiro Mensageiro: Ap. Assis
								</td>
							</tr>

						</tbody>
					</table>
					<div class="meta">
						<ul>
							<li><i class="fa fa-reply"></i> Postado em <a href="#/agenda" title="">Agenda Semanal</a></li>
							<li><i class="fa fa-calendar-o"></i> 06 de Novembro 2017</li>
							<li><i class="fa fa-user"></i> <a href="" title="">THIAGO GOMES</a></li>
						</ul>
						<img src="images/tg.jpg" alt="" />
					</div><!-- POST META -->

				</div>

				<aside class="col-md-3 sidebar column">

					<div class="widget">
						<div class="widget-title"><h4>DOWNLOAD</h4></div>
						<div class="sermon-detail">
														<p>Aqui você pode baixar a nossa programação...</p>
														<ul class="sermon-media">
															<li><a target="_blank" href="resources/agenda_semanal_20171106.pdf" title=""><i class="fa fa-download"></i></a></li>
														</ul>
													</div>
					</div><!-- LATEST EVENT -->

				</aside><!-- SIDEBAR -->
			</div>
		</div>
	</div>
</section>
