<link href="css/agenda.css" rel="stylesheet" type="text/css" />

<div class="page-top">
	<div class="parallax" style="background:url(images/parallax1.jpg);"></div>
	<div class="container">
		<h1><span>Agenda Semanal</span></h1>
		<ul>
			<li><a href="#" title="">Home</a></li>
			<li><a title="">Agenda Semanal</a></li>
		</ul>
	</div>
</div><!--- PAGE TOP -->
<section>
	<div class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-9 column">

					<div class="title4"><h2>Agenda <span>Semanal</span></h2></div>

					<table class="containerAgenda">
						<thead>
							<tr>
								<th><h1>Dia</h1></th>
								<th><h1>Atividade</h1></th>
							</tr>
						</thead>
						<tbody>

							<!--SEGUNDA FEIRA-->
							<tr>
								<td rowspan="3" align="center">Segunda -feira </br> 05/03/2018</td>
								<td align="center">
									<span class="bold">13h </span> – Círculo de Oração – Guardião: Diác. Claudino </br>
								</td>
							</tr>
							<tr>
								<td align="center"> 19h - Escola da Bíblia – Tema: O Cordeiro de Deus (7ª Lição) </br>
																		19h - Escola para novos discípulos – Coord. Miss. Socorro Campos
								</td>
							</tr>
							<tr>
								<td align="center"> 19:30 - Atendimento pastoral com Bp. Márcio
								</td>
							</tr>

							<!--TERÇA FEIRA-->
							<tr>
								<td rowspan="3" align="center">Terça - feira</br>06/13/2018</td>
								<td align="center"><span class="bold">6h às 8h – Consagração para toda a Igreja - Guardião: Ob. Damião
								</td>
							</tr>
							<tr>
								<td align="center"> 13h – Encontro de Comissões em Antioquia 02 </br>
																		19h – Culto de Gratidão a Deus oferecido pela irmã Leidiane Cândido </br>
																		19H – REUNIÃO DA ORDEM DE MINISTROS DA REGIÃO CENTRAL</br>
								</td>
							</tr>
							<tr>
								<td align="center"> 19h- Culto Missionário no Ponto de Pregação Peniel</br>
																		Local - Rua Luiz Saturno, próximo a Farmácia Ribeiro / Coord. Pb. Franceildo
								</td>
							</tr>

							<!--QUARTA FEIRA-->
							<tr>
								<td rowspan="2" align="center">Quarta - feira</br> 07/03/2018</td>
								<td align="center">De 9h às 12h – Culto de Encontro com Deus – Coord. Ap. Assis</td>
							</tr>
							<tr>
								<td align="center"> 19h – Culto infantil no Cenáculo</br>
																		19h – Campanha de 7 semanas (5ª semana)</br>
																		TEMA: Restaurando a Família (Atos 16:31b)
								</td>
							</tr>

							<!--QUINTA FEIRA-->
							<tr>
								<td rowspan="2" align="center">Quinta - feira</br> 08/03/2018</td>
								<td align="center">14h – Comissão de Visitas aos enfermos</td>
							</tr>
							<tr>
								<td align="center"> 19h – 30 Anos de Ministério do Ap. Francisco de Assis
								</td>
							</tr>

							<!--SEXTA FEIRA-->
							<tr>
								<td rowspan="1" align="center">Sexta - feira</br> 09/03/2018</td>
								<td align="center">19h – Ensaio para Grupos, Oração, Estudo E. B. e Comissão de Integração à família</br>
																	 19H – REUNIÃO PARA TODA A LIDERANÇA DE JERUSALÉM
								</td>
							</tr>

							<!--SABADO-->
							<tr>
								<td rowspan="2" align="center">Sábado</br> 10/03/2018</td>
								<td align="center">14h – Círculo de Oração do Depart° Infantil</td>
							</tr>
							<tr>
								<td align="center"> 19h – Culto de Gratidão a Deus pelos</br>
																		25 Anos da Rede Canaã de Comunicação</br>
																		Local: Em frente à Igreja Batista
								</td>
							</tr>

							<!--DOMINGO-->
							<tr>
								<td rowspan="2" align="center">Domingo</br> 11/03/2018</td>
								<td align="center">9h – Edificação para o Ministério Diaconal / Bp. Márcio </br>
																	 14h - Evangelização.... Junte-se a nós!!! Coord. Pr. Domingos Domingo
								</td>
							</tr>
							<tr>
								<td align="center"> 19h – Culto Missionário na Coord. União de Adultos </br>
																		Dirigente: Ir. Fátima Mensageiro: Miss. Socorro Campos
								</td>
							</tr>

						</tbody>
					</table>
					<div class="meta">
						<ul>
							<li><i class="fa fa-reply"></i> Postado em <a href="#/agenda" title="">Agenda Semanal</a></li>
							<li><i class="fa fa-calendar-o"></i> 05 de Março 2018</li>
							<li><i class="fa fa-user"></i> <a href="" title="">THIAGO GOMES</a></li>
						</ul>
						<img src="images/tg.jpg" alt="" />
					</div><!-- POST META -->

				</div>

				<aside class="col-md-3 sidebar column">

					<div class="widget">
						<div class="widget-title"><h4>DOWNLOAD</h4></div>
						<div class="sermon-detail">
														<p>Aqui você pode baixar a nossa programação...</p>
														<ul class="sermon-media">
															<li><a target="_blank" href="resources/RELATORIO_SEMANAL_2018.pdf" title=""><i class="fa fa-download"></i></a></li>
														</ul>
													</div>
					</div><!-- LATEST EVENT -->

				</aside><!-- SIDEBAR -->
			</div>
		</div>
	</div>
</section>
