
<div class="page-top">
	<div class="parallax" style="background:url(images/parallax1.jpg);"></div>
	<div class="container">
		<h1><span>Agenda Semanal</span></h1>
		<ul>
			<li><a href="#" title="">Home</a></li>
			<li><a href="church-stories.html" title="">Agenda Semanal</a></li>
		</ul>
	</div>
</div><!--- PAGE TOP -->

<section>
	<div class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-8 column">

						<div class="title4"><h2>Agenda <span>Semanal</span></h2></div>

						<table data-toggle="table">
				    <thead>
				    <tr>
				        <th>Dia</th>
				        <th>Atividade</th>
				    </tr>
				    </thead>
				    <tbody>
				    <tr id="tr-id-1" class="tr-class-1">
				        <td id="td-id-1" class="td-class-1">
									Segunda -feira | 23/10/2017
				        </td>
				        <td>
										<p>As 13h – Círculo de Oração – Guardião: Diác. Daniel</p>
										<p>19h – Escola da Bíblia- (8ª Lição) A Igreja atravessa fronteiras</p>
										<p>19h – Escola para novos Discípulos /Coord. Miss. Socorro Campos</p>
										<p>19:30 – Atendimento Pastoral com Bp. Márcio</p>
								</td>
				    </tr>
				    <tr id="tr-id-2" class="tr-class-2">
				        <td id="td-id-2" class="td-class-2">
									Terça - feira | 24/10/2017
	 						 </td>
	 						 <td>
	 								 <p>6h às 8h – Consagração para toda a Igreja – Guardião: Ob. Damião</p>
	 								 <p>19h - Culto de Gratidão Oferecido por Natanael e família</p>
									 <p>19h - Culto Missionário no Ponto de Pregação Peniel<p>
	 								 <p>19h - Curso de Teologia/Coord. Pr. Edimilson</p>
	 						 </td>

				    </tr>
				    <tr id="tr-id-3" class="tr-class-3">
				        <td id="td-id-3" class="td-class-3">
									Terça - feira | 24/10/2017
							 </td>
							 <td>
									 <p>6h às 8h – Consagração para toda a Igreja – Guardião: Ob. Damião</p>
									 <p>19h - Culto de Gratidão Oferecido por Natanael e família</p>
									 <p>19h - Culto Missionário no Ponto de Pregação Peniel<p>
									 <p>19h - Curso de Teologia/Coord. Pr. Edimilson</p>
							 </td>

				    </tr>
				    <tr id="tr-id-4" class="tr-class-4">
				        <td id="td-id-4" class="td-class-4">
									Terça - feira | 24/10/2017
							 </td>
							 <td>
									 <p>6h às 8h – Consagração para toda a Igreja – Guardião: Ob. Damião</p>
									 <p>19h - Culto de Gratidão Oferecido por Natanael e família</p>
									 <p>19h - Culto Missionário no Ponto de Pregação Peniel<p>
									 <p>19h - Curso de Teologia/Coord. Pr. Edimilson</p>
							 </td>

				    </tr>
				    <tr id="tr-id-5" class="tr-class-5">
				        <td id="td-id-5" class="td-class-5">
									Terça - feira | 24/10/2017
							 </td>
							 <td>
									 <p>6h às 8h – Consagração para toda a Igreja – Guardião: Ob. Damião</p>
									 <p>19h - Culto de Gratidão Oferecido por Natanael e família</p>
									 <p>19h - Culto Missionário no Ponto de Pregação Peniel<p>
									 <p>19h - Curso de Teologia/Coord. Pr. Edimilson</p>
							 </td>

							</table>

					</br>
					</br>
				</br>
				</br>
					<div class="meta">
						<ul>
							<li><i class="fa fa-reply"></i> Postado em <a href="#/agenda" title="">Agenda Semanal</a></li>
							<li><i class="fa fa-calendar-o"></i> 20 de Outubro 2017</li>
							<li><i class="fa fa-user"></i> <a href="" title="">THIAGO GOMES</a></li>
						</ul>
						<img src="images/tg.jpg" alt="" />
					</div><!-- POST META -->

				</div>

				<aside class="col-md-4 sidebar column">

					<div class="widget">
						<div class="widget-title"><h4>PRÓX. EVENTO</h4></div>
						<div class="animal-event simple">
							<div class="animal-detail">
								<h4><a href="#" title="">Offers And General Visual</a></h4>
								<div class="animal-img"><img src="http://placehold.it/270x160" alt="" /><span><strong>12</strong>Dec 2014</span></div>
								<ul>
									<li><a href="#" title=""><i class="fa fa-map-marker"></i></a> <span>Torque Inc.1614 Chestnut Ave. Boston, MA 02166</span></li>
									<li><a href="#" title=""><i class="fa fa-comments"></i></a><span>32 Comments</span></li>
									<li><a href="#" title=""><i class="fa fa-clock-o"></i></a><span>30-08-2014 10:48 am</span></li>
								</ul>
							</div>
						</div>
					</div><!-- LATEST EVENT -->

				</aside><!-- SIDEBAR -->
			</div>
		</div>
	</div>
</section>
