		<div class="page-top">
			<div class="parallax" style="background:url(images/parallax1.jpg);"></div>
			<div class="container">
				<h1><span>Rede Canaã de Comunicação</span></h1>
				<ul>
					<li><a href="#/" title="">Home</a></li>
					<li><a href="" title="">Rede Canaã</a></li>
				</ul>
			</div>
		</div><!--- PAGE TOP -->

		<section>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-md-8 column">
							<div class="service-block">
								<div class="service-image">
									<img src="images/projetos/logo_canaa_g.png" alt="" />
									<br/>
									<br/>
									<i class="fa fa-codepen"></i>
								</div>
								<h3>Rede Canaã</h3>
								<p>A Rede Canaã de Comunicação é um instrumento de salvação, restauração e dissiminação da palavra de Deus. Com o intuito de levar até você o melhor da música evangélica, não poupamos esforços e recursos para atingir objetivos.
									A Rede Canaã de Comunicação esta no Brasil e nos quatro cantos do mundo, através da internet. E o que podemos esperar para o futuro desta conquista que nasceu no coração de Deus? Esperamos realmente que nós possamos crescer, formar uma rede cada vez maior, estar presente em todas as capitais e principalmente, ganharmos muitas vidas para Jesus.
									A Rede Canaã de Comunicação é dinâmica e aberta para todos os ministérios que desejam divulgar seus trabalhos, quer sejam profissionais ou "novos talentos", mas unidos num só compromisso, levar a Palavra de Deus.

									<a href="http://www.redecanaadecomunicacao.com.br/" target="_blank">http://www.redecanaadecomunicacao.com.br/</a>
									<br/>
									<b>Apóie essa iniciativa! Ouça a rádio e Ajude-nos a divulgar a palavra de Deus.</b>
									</p>

								<blockquote>
									<div class="parallax" style="background:url(images/parallax2.jpg);"></div>
									<i class="fa fa-quote-left"></i>Alegrai-vos no Senhor e regozijai-vos, vós, os justos; cantai alegremente todos vós que sois retos de coração. (Salmos 32:11)<i class="fa fa-quote-right"></i></blockquote><!-- BLOCKQUOTE -->
								</div>
							</div>

							<aside class="col-md-4 sidebar column">
								<div class="widget">
									<div class="widget-title"><h4>VIDEO</h4></div>
									<div class="video">
										<div class="video-img lightbox">
											<img src="images/projetos/video_canaa.png" alt="" />
											<a href="https://www.youtube.com/watch?v=fkpGlcQCFvE" target="_blank" title="" data-poptrox="youtube"><i class="fa fa-play"></i></a>
										</div>
									</div>
								</div><!-- VIDEO -->
							</aside><!-- SIDEBAR -->
						</div>
					</div>
				</div>
			</section>
