
<div class="page-top">
	<div class="parallax" style="background:url(images/parallax1.jpg);"></div>
	<div class="container">
		<h1>IGREJA<span></span></h1>
		<ul>
			<li><a href="index.html" title="">Home</a></li>
			<li><a href="church-stories.html" title="">Missões</a></li>
		</ul>
	</div>
</div><!--- PAGE TOP -->

<section>
	<div class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-8 column">
					<div class="single-page">
						<img src="http://placehold.it/770x324" alt="" />
						<h2>Igreja sem informações cadastradas.</h2>
						<div class="meta">
							<ul>
								<li><i class="fa fa-reply"></i> Postado em <a href="#" title="">Missões</a></li>
								<li><i class="fa fa-calendar-o"></i> Agosto 13, 2017</li>
								<li><i class="fa fa-user"></i> <a href="#" title="">Thiago Gomes</a></li>
							</ul>
							<img src="images/tg.jpg" alt="" />
						</div><!-- POST META -->
					</div><!-- SERMON SINGLE -->

					<p>Esta igreja ainda não possui dados cadastrados, em breve estaremos atualizando as informações.</p>
					<p>Continue acompanhando nosso site para ficar por dentro de nossas novidades! </p>

				</div>
			</div>
		</div>
	</div>
</section>
