<!DOCTYPE html>
<div class="page-top">
	<div class="parallax" style="background:url(images/parallax1.jpg);"></div>
	<div class="container">
		<h1>LISTA DE <span>EVENTOS</span></h1>
		<ul>
			<li><a href="#/" title="">Home</a></li>
			<li><a href="#/eventos" title="">Eventos</a></li>
		</ul>
	</div>
</div><!--- PAGE TOP -->
<section>
	<div class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-8 column">
					<div class="events-gridview remove-ext">
						<div class="row">
							<div class="col-md-6">
								<div class="category-box">
									<div class="category-block">
										<div class="category-img">
											<img src="http://placehold.it/370x164" alt="" />
											<ul>
												<li class="date"><a href="#/eventos/mulheres" title=""><i class="fa fa-calendar-o"></i> 28, April 2016</a></li>
												<li class="time"><a href="#/eventos/mulheres" title=""><i class="fa fa-clock-o"></i> 18:30 PM</a></li>
											</ul>
										</div>
										<h3><a href="#/eventos/mulheres" title="">Congresso de Mulheres</a></h3>
										<span><i class="fa fa-map-marker"></i> Nossa Senhora do ó, Templo Matriz</span>
									</div>
								</div><!-- EVENTS -->
							</div>

							<div class="col-md-6">
								<div class="category-box">
									<div class="category-block">
										<div class="category-img">
											<img src="http://placehold.it/370x164" alt="" />
											<ul>
												<li class="date"><a href="#" title=""><i class="fa fa-calendar-o"></i> 28, April 2008</a></li>
												<li class="time"><a href="#" title=""><i class="fa fa-clock-o"></i> 8:00 PM</a></li>
											</ul>
										</div>
										<h3><a href="#" title="">Congresso de Homens</a></h3>
										<span><i class="fa fa-map-marker"></i> Nossa Senhora do ó, Templo Matriz</span>
									</div>
								</div><!-- EVENTS -->
							</div>

							<div class="col-md-6">
								<div class="category-box">
									<div class="category-block">
										<div class="category-img">
											<img src="http://placehold.it/370x164" alt="" />
											<ul>
												<li class="date"><a href="#" title=""><i class="fa fa-calendar-o"></i> 28, April 2008</a></li>
												<li class="time"><a href="#" title=""><i class="fa fa-clock-o"></i> 8:00 PM</a></li>
											</ul>
										</div>
										<h3><a href="#" title="">Pentecostes</a></h3>
										<span><i class="fa fa-map-marker"></i> Nossa Senhora do ó, Templo Matriz</span>
									</div>
								</div><!-- EVENTS -->
							</div>

							<div class="col-md-6">
								<div class="category-box">
									<div class="category-block">
										<div class="category-img">
											<img src="http://placehold.it/370x164" alt="" />
											<ul>
												<li class="date"><a href="#" title=""><i class="fa fa-calendar-o"></i> 28, April 2008</a></li>
												<li class="time"><a href="#" title=""><i class="fa fa-clock-o"></i> 8:00 PM</a></li>
											</ul>
										</div>
										<h3><a href="#" title="">Festividade Círculo de Oração</a></h3>
										<span><i class="fa fa-map-marker"></i> Nossa Senhora do ó, Templo Matriz</span>
									</div>
								</div><!-- EVENTS -->
							</div>
							<div class="col-md-6">
								<div class="category-box">
									<div class="category-block">
										<div class="category-img">
											<img src="http://placehold.it/370x164" alt="" />
											<ul>
												<li class="date"><a href="#" title=""><i class="fa fa-calendar-o"></i> 28, April 2008</a></li>
												<li class="time"><a href="#" title=""><i class="fa fa-clock-o"></i> 8:00 PM</a></li>
											</ul>
										</div>
										<h3><a href="#" title="">Doullos Adonai</a></h3>
										<span><i class="fa fa-map-marker"></i> Nossa Senhora do ó, Templo Matriz</span>
									</div>
								</div><!-- EVENTS -->
							</div>

							<div class="col-md-6">
								<div class="category-box">
									<div class="category-block">
										<div class="category-img">
											<img src="http://placehold.it/370x164" alt="" />
											<ul>
												<li class="date"><a href="#" title=""><i class="fa fa-calendar-o"></i> 28, April 2008</a></li>
												<li class="time"><a href="#" title=""><i class="fa fa-clock-o"></i> 8:00 PM</a></li>
											</ul>
										</div>
										<h3><a href="#" title="">Santa ceia</a></h3>
										<span><i class="fa fa-map-marker"></i> Nossa Senhora do ó, Templo Matriz</span>
									</div>
								</div><!-- EVENTS -->
							</div>
						</div>
					</div><!-- EVENTS GRID VIEW -->
				</div>


				<aside class="col-md-4 sidebar column">
					<div class="widget">
						<div class="widget-title"><h4>OUR GALLERY</h4></div>
						<div class="gallery-widget lightbox">
							<div class="col-md-3"><a href="http://placehold.it/600x400"><img src="http://placehold.it/84x80" alt="" /></a></div>
							<div class="col-md-3"><a href="http://placehold.it/600x400" ><img src="http://placehold.it/84x80" alt="" /></a></div>
							<div class="col-md-3"><a href="http://placehold.it/600x400" ><img src="http://placehold.it/84x80" alt="" /></a></div>
							<div class="col-md-3"><a href="http://placehold.it/600x400" ><img src="http://placehold.it/84x80" alt="" /></a></div>
							<div class="col-md-3"><a href="http://placehold.it/600x400" ><img src="http://placehold.it/84x80" alt="" /></a></div>
							<div class="col-md-3"><a href="http://placehold.it/600x400" ><img src="http://placehold.it/84x80" alt="" /></a></div>
							<div class="col-md-3"><a href="http://placehold.it/600x400" ><img src="http://placehold.it/84x80" alt="" /></a></div>
							<div class="col-md-3"><a href="http://placehold.it/600x400" ><img src="http://placehold.it/84x80" alt="" /></a></div>
						</div>
					</div><!-- GALLERY -->

					<div class="widget">
						<div class="widget-title"><h4>Sermões Recentes</h4></div>
						<div class="sermon-widget">
							<div class="sermon-img">
								<img src="http://placehold.it/370x278" alt="" />
								<span><i class="fa fa-calendar-o"></i> 20 de Agosto, 2016</span>
								<h3><a href="#" title="">Palavra profética</a></h3>
							</div>
							<div class="sermon-detail">
								<p>Palavra profética ministrada no dia 20 de agosto de 2016, com o tema: Ensinando o caminho correto!</p>
								<ul class="sermon-media">
									<li><a title=""><i class="audio-btn fa fa-headphones"></i>
										<div class="audioplayer"><audio  src="sermon.mp3"></audio><span class="cross">X</span></div>
									</a></li>
									<li><a target="_blank" href="http://themes.webinane.com/deeds/test.doc" title=""><i class="fa fa-download"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!-- RECENT SERMON -->
				</aside><!-- SIDEBAR -->


			</div>
		</div>
	</div>
</section>
