<!DOCTYPE html>
<div class="page-top">
	<div class="parallax" style="background:url(images/parallax1.jpg);"></div>
	<div class="container">
		<h1>GALERIA DE <span>FOTOS</span></h1>
		<ul>
			<li><a href="/#" title="">Home</a></li>
			<li><a href="#/galeria" title="">Galeria</a></li>
		</ul>
	</div>
</div><!--- PAGE TOP -->
<section>
	<div class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="remove-ext">
						<div class="row">
							<div class="mas-gallery" >

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/conjomeniac/900/image13.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>Conjomeniac</h3>
										</div>
										<ul>
											<li><a href="images/galeria/conjomeniac/900/image01.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image01.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image02.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image02.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image03.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image03.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image04.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image04.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image05.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image05.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image06.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image06.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image07.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image07.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image08.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image08.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image09.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image09.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image10.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image10.jpg" alt="" /></a></li>

											<li><a href="images/galeria/conjomeniac/900/image11.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image11.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image12.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image12.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image13.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image13.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image14.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image14.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image15.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image15.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image16.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image16.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image17.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image17.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image18.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image18.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image19.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image19.jpg" alt="" /></a></li>
											<li><a href="images/galeria/conjomeniac/900/image20.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image20.jpg" alt="" /></a></li>

											<li><a href="images/galeria/conjomeniac/900/image21.jpg" title=""><img src="images/galeria/conjomeniac/thumbnails/image21.jpg" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/15_anos_missao/900/image08.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>15 Anos - Missao Novo Israel</h3>
										</div>
										<ul>
											<li><a href="images/galeria/15_anos_missao/900/image01.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image01.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image02.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image02.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image03.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image03.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image04.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image04.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image05.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image05.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image06.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image06.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image07.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image07.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image08.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image08.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image09.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image09.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image10.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image10.jpg" alt="" /></a></li>

											<li><a href="images/galeria/15_anos_missao/900/image11.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image11.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image12.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image12.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image13.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image13.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image14.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image14.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image15.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image15.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_anos_missao/900/image16.jpg" title=""><img src="images/galeria/15_anos_missao/thumbnails/image16.jpg" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/yhawer_shama/900/image13.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>15 Anos - Yaweh Shammah</h3>
										</div>
										<ul>
											<li><a href="images/galeria/yhawer_shama/900/image01.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image01.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image02.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image02.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image03.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image03.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image04.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image04.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image05.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image05.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image06.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image06.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image07.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image07.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image08.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image08.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image09.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image09.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image10.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image10.jpg" alt="" /></a></li>

											<li><a href="images/galeria/yhawer_shama/900/image11.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image11.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image12.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image12.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image13.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image13.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image14.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image14.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image15.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image15.jpg" alt="" /></a></li>
											<li><a href="images/galeria/yhawer_shama/900/image16.jpg" title=""><img src="images/galeria/yhawer_shama/thumbnails/image16.jpg" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/14_congresso_homens_AC/900/image14.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>14 Congresso de Homens</h3>
										</div>
										<ul>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image01.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image01.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image02.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image02.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image03.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image03.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image04.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image04.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image05.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image05.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image06.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image06.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image07.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image07.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image08.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image08.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image09.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image09.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image10.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image10.jpg" alt="" /></a></li>

											<li><a href="images/galeria/14_congresso_homens_AC/900/image11.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image11.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image12.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image12.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image13.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image13.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image14.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image14.jpg" alt="" /></a></li>
											<li><a href="images/galeria/14_congresso_homens_AC/900/image15.jpg" title=""><img src="images/galeria/14_congresso_homens_AC/thumbnails/image15.jpg" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/24_anos_rede_canaa_comunicacao/900/image02.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>24 Anos - Rede Canaa</h3>
										</div>
										<ul>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image01.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image01.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image02.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image02.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image03.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image03.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image04.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image04.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image05.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image05.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image06.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image06.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image07.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image07.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image08.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image08.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image09.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image09.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image10.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image10.jpg" alt="" /></a></li>

											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image11.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image11.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image12.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image12.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image13.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image13.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image14.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image14.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image15.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image15.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image16.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image16.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image17.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image17.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image18.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image18.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image19.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image19.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image20.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image20.jpg" alt="" /></a></li>

											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image21.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image21.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image22.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image22.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image23.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image23.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image24.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image24.jpg" alt="" /></a></li>
											<li><a href="images/galeria/24_anos_rede_canaa_comunicacao/900/image25.jpg" title=""><img src="images/galeria/24_anos_rede_canaa_comunicacao/thumbnails/image25.jpg" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/Inaug_missao_escada/900/image03.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>Inauguracao - Missao Escada</h3>
										</div>
										<ul>
											<li><a href="images/galeria/Inaug_missao_escada/900/image01.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image01.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image02.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image02.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image03.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image03.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image04.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image04.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image05.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image05.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image06.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image06.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image07.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image07.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image08.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image08.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image09.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image09.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image10.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image10.jpg" alt="" /></a></li>

											<li><a href="images/galeria/Inaug_missao_escada/900/image11.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image11.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image12.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image12.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image13.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image13.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image14.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image14.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image15.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image15.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image16.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image16.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image17.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image17.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image18.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image18.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image19.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image19.jpg" alt="" /></a></li>
											<li><a href="images/galeria/Inaug_missao_escada/900/image20.jpg" title=""><img src="images/galeria/Inaug_missao_escada/thumbnails/image20.jpg" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

							</div>
						</div>
					</div>

					<div class="theme-pagination">
						<ul class="pagination">
							<li><a href=""><i class="fa fa-angle-left"></i></a></li>
							<li><a href="">1</a></li>
							<li><a href=""><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div><!-- PAGINATION -->

				</div>
			</div>
		</div>
	</div>
</section>
