<!DOCTYPE html>
<div class="page-top">
	<div class="parallax" style="background:url(images/parallax1.jpg);"></div>
	<div class="container">
		<h1>GALERIA DE <span>FOTOS</span></h1>
		<ul>
			<li><a href="/#" title="">Home</a></li>
			<li><a href="/#gallery.html" title="">Galeria</a></li>
		</ul>
	</div>
</div><!--- PAGE TOP -->
<section>
	<div class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="remove-ext">
						<div class="row">
							<div class="mas-gallery" >

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/5_expressao_novo_israel/inicial.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>5º Ano Grupo Expressao Novo Israel</h3>
										</div>
										<ul>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/14.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/14.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/13.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/13.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/12.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/12.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/11.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/11.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/10.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/10.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/09.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/09.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/08.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/08.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/07.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/07.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/06.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/06.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/05.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/05.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/04.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/04.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/03.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/03.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/02.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/02.jpg" alt="" /></a></li>
											<li><a href="images/galeria/5_expressao_novo_israel/900X900/01.jpg" title=""><img src="images/galeria/5_expressao_novo_israel/74x67/01.jpg" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/15_congresso_mulheres/inicial.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>15º Congresso de Mulheres</h3>
										</div>
										<ul>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/01.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/01.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/02.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/02.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/03.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/03.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/04.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/04.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/05.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/05.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/06.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/06.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/07.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/07.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/08.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/08.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/09.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/09.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/10.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/10.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/11.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/11.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/12.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/12.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/13.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/13.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/14.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/14.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/15.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/15.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/16.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/16.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/17.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/17.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/18.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/18.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/19.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/19.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/20.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/20.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/20.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/20.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/20.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/20.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_congresso_mulheres/900x900/20.jpg" title=""><img src="images/galeria/15_congresso_mulheres/74x67/20.jpg" alt="" /></a></li>

										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/19_doullos_adonai//inicial.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>19º Ano Doullos Adonai</h3>
										</div>
										<ul>
											<li><a href="images/galeria/19_doullos_adonai/900x900/01.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/01.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/02.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/02.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/03.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/03.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/04.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/04.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/05.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/05.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/06.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/06.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/07.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/07.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/08.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/08.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/09.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/09.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/10.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/10.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/11.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/11.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/12.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/12.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/13.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/13.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/14.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/14.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/15.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/15.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/16.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/16.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/17.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/17.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/18.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/18.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/19.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/19.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/20.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/20.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/21.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/21.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/22.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/22.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/19_doullos_adonai/900x900/23.jpg" title=""><img src="images/galeria/19_doullos_adonai/74x67/23.jpg/" alt="" /></a></li>

										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/26_ministerio_diaconal/inicial.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>26º Ano Ministério Diaconal</h3>
										</div>
										<ul>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/01.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/01.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/02.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/02.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/03.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/03.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/04.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/04.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/05.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/05.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/06.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/06.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/07.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/07.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/08.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/08.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/09.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/09.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/10.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/10.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/11.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/11.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/12.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/12.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/13.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/13.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/14.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/14.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/15.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/15.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/16.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/16.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/17.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/17.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/18.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/18.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/19.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/19.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/20.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/20.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/21.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/21.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/22.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/22.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/23.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/23.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/24.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/24.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/25.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/25.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/26.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/26.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/27.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/27.jpg/" alt="" /></a></li>
										<li><a href="images/galeria/26_ministerio_diaconal/900x900/28.jpg" title=""><img src="images/galeria/26_ministerio_diaconal/74x67/28.jpg/" alt="" /></a></li>

										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/37_agape/inicial.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>37º Ano Agape</h3>
										</div>
										<ul>
											<li><a href="images/galeria/37_agape/900x900/01.jpg" title=""><img src="images/galeria/37_agape/74x67/01.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/02.jpg" title=""><img src="images/galeria/37_agape/74x67/02.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/03.jpg" title=""><img src="images/galeria/37_agape/74x67/03.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/04.jpg" title=""><img src="images/galeria/37_agape/74x67/04.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/05.jpg" title=""><img src="images/galeria/37_agape/74x67/05.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/06.jpg" title=""><img src="images/galeria/37_agape/74x67/06.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/07.jpg" title=""><img src="images/galeria/37_agape/74x67/07.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/08.jpg" title=""><img src="images/galeria/37_agape/74x67/08.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/09.jpg" title=""><img src="images/galeria/37_agape/74x67/09.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/10.jpg" title=""><img src="images/galeria/37_agape/74x67/10.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/11.jpg" title=""><img src="images/galeria/37_agape/74x67/11.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/12.jpg" title=""><img src="images/galeria/37_agape/74x67/12.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/13.jpg" title=""><img src="images/galeria/37_agape/74x67/13.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/14.jpg" title=""><img src="images/galeria/37_agape/74x67/14.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/15.jpg" title=""><img src="images/galeria/37_agape/74x67/15.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/16.jpg" title=""><img src="images/galeria/37_agape/74x67/16.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/17.jpg" title=""><img src="images/galeria/37_agape/74x67/17.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/18.jpg" title=""><img src="images/galeria/37_agape/74x67/18.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/19.jpg" title=""><img src="images/galeria/37_agape/74x67/19.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/20.jpg" title=""><img src="images/galeria/37_agape/74x67/20.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/21.jpg" title=""><img src="images/galeria/37_agape/74x67/21.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/22.jpg" title=""><img src="images/galeria/37_agape/74x67/22.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/23.jpg" title=""><img src="images/galeria/37_agape/74x67/23.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/24.jpg" title=""><img src="images/galeria/37_agape/74x67/24.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/25.jpg" title=""><img src="images/galeria/37_agape/74x67/25.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/26.jpg" title=""><img src="images/galeria/37_agape/74x67/26.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/27.jpg" title=""><img src="images/galeria/37_agape/74x67/27.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/28.jpg" title=""><img src="images/galeria/37_agape/74x67/28.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/29.jpg" title=""><img src="images/galeria/37_agape/74x67/29.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/30.jpg" title=""><img src="images/galeria/37_agape/74x67/30.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/31.jpg" title=""><img src="images/galeria/37_agape/74x67/31.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/32.jpg" title=""><img src="images/galeria/37_agape/74x67/32.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/33.jpg" title=""><img src="images/galeria/37_agape/74x67/33.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/34.jpg" title=""><img src="images/galeria/37_agape/74x67/34.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/35.jpg" title=""><img src="images/galeria/37_agape/74x67/35.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/36.jpg" title=""><img src="images/galeria/37_agape/74x67/36.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/37.jpg" title=""><img src="images/galeria/37_agape/74x67/37.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/38.jpg" title=""><img src="images/galeria/37_agape/74x67/38.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/39.jpg" title=""><img src="images/galeria/37_agape/74x67/39.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/40.jpg" title=""><img src="images/galeria/37_agape/74x67/40.jpg" alt="" /></a></li>
											<li><a href="images/galeria/37_agape/900x900/41.jpg" title=""><img src="images/galeria/37_agape/74x67/41.jpg" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

							</div>
						</div>
					</div>

					<div class="theme-pagination">
						<ul class="pagination">
							<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div><!-- PAGINATION -->

				</div>
			</div>
		</div>
			</div>
</section>
