<!DOCTYPE html>
<div class="page-top">
	<div class="parallax" style="background:url(images/parallax1.jpg);"></div>
	<div class="container">
		<h1>GALERIA DE <span>FOTOS</span></h1>
		<ul>
			<li><a href="index.html" title="">Home</a></li>
			<li><a href="gallery3.html" title="">Galeria</a></li>
		</ul>
	</div>
</div><!--- PAGE TOP -->
<section>
	<div class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="remove-ext">
						<div class="row">
							<div class="mas-gallery" >
								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="images/galeria/13_betsaida/main.jpg" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>13º Anos da Base Betesda I</h3>
										</div>
										<ul>
											<li><a href="images/galeria/13_betsaida/500_500/09.jpg" title="13º Anos da Base Betesda I"><img src="images/galeria/13_betsaida/74_67/09.jpg" alt="13º Anos da Base Betesda I" /></a></li>
											<li><a href="images/galeria/13_betsaida/500_500/08.jpg" title=""><img src="images/galeria/13_betsaida/74_67/08.jpg" alt="" /></a></li>
											<li><a href="images/galeria/13_betsaida/500_500/07.jpg" title=""><img src="images/galeria/13_betsaida/74_67/07.jpg" alt="" /></a></li>
											<li><a href="images/galeria/13_betsaida/500_500/06.jpg" title=""><img src="images/galeria/13_betsaida/74_67/06.jpg" alt="" /></a></li>
											<li><a href="images/galeria/13_betsaida/500_500/05.jpg" title=""><img src="images/galeria/13_betsaida/74_67/05.jpg" alt="" /></a></li>
											<li><a href="images/galeria/13_betsaida/500_500/04.jpg" title=""><img src="images/galeria/13_betsaida/74_67/04.jpg" alt="" /></a></li>
											<li><a href="images/galeria/13_betsaida/500_500/03.jpg" title=""><img src="images/galeria/13_betsaida/74_67/03.jpg" alt="" /></a></li>
											<li><a href="images/galeria/13_betsaida/500_500/02.jpg" title=""><img src="images/galeria/13_betsaida/74_67/02.jpg" alt="" /></a></li>
											<li><a href="images/galeria/13_betsaida/01.jpg" title=""><img src="images/galeria/13_betsaida/74_67/01.jpg" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="http://placehold.it/370x397" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>15 Congresso de Mulheres</h3>
										</div>
										<ul>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image01.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image01.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image02.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image02.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image03.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image03.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image04.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image04.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image05.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image05.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image06.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image06.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image07.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image07.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image08.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image08.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image09.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image09.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image10.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image10.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image11.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image11.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image12.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image12.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image13.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image13.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image14.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image14.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image15.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image15.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image16.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image16.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image17.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image17.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image18.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image18.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image19.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image19.jpg" alt="" /></a></li>
											<li><a href="images/galeria/15_cong_mulheres_central/900x900/image20.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/74x67/image20.jpg" alt="" /></a></li>

										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="http://placehold.it/370x253" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>14 Anos Missao</h3>
										</div>
										<ul>
											<li><a href="images/galeria/9_Min_apostolico_14_novo_israel/900x900/image01.jpg" title=""><img src="images/galeria/9_Min_apostolico_14_novo_israel/74x67/image01.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/9_Min_apostolico_14_novo_israel/900x900/image02.jpg" title=""><img src="images/galeria/9_Min_apostolico_14_novo_israel/74x67/image02.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/9_Min_apostolico_14_novo_israel/900x900/image03.jpg" title=""><img src="images/galeria/9_Min_apostolico_14_novo_israel/74x67/image03.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/9_Min_apostolico_14_novo_israel/900x900/image04.jpg" title=""><img src="images/galeria/9_Min_apostolico_14_novo_israel/74x67/image04.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/9_Min_apostolico_14_novo_israel/900x900/image05.jpg" title=""><img src="images/galeria/9_Min_apostolico_14_novo_israel/74x67/image05.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/9_Min_apostolico_14_novo_israel/900x900/image06.jpg" title=""><img src="images/galeria/9_Min_apostolico_14_novo_israel/74x67/image06.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/9_Min_apostolico_14_novo_israel/900x900/image07.jpg" title=""><img src="images/galeria/9_Min_apostolico_14_novo_israel/74x67/image07.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/9_Min_apostolico_14_novo_israel/900x900/image08.jpg" title=""><img src="images/galeria/9_Min_apostolico_14_novo_israel/74x67/image08.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/9_Min_apostolico_14_novo_israel/900x900/image09.jpg" title=""><img src="images/galeria/9_Min_apostolico_14_novo_israel/74x67/image09.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/9_Min_apostolico_14_novo_israel/900x900/image10.jpg" title=""><img src="images/galeria/9_Min_apostolico_14_novo_israel/74x67/image10.jpg/" alt="" /></a></li>
											<li><a href="images/galeria/9_Min_apostolico_14_novo_israel/900x900/image11.jpg" title=""><img src="images/galeria/9_Min_apostolico_14_novo_israel/74x67/image11.jpg/" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="http://placehold.it/370x397" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>A Holistic Approach Nurtu</h3>
										</div>
										<ul>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="http://placehold.it/370x397" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>A Holistic Approach Nurtu</h3>
										</div>
										<ul>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="http://placehold.it/370x397" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>A Holistic Approach Nurtu</h3>
										</div>
										<ul>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>


								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="http://placehold.it/370x253" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>A Holistic Approach Nurtu</h3>
										</div>
										<ul>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="http://placehold.it/370x253" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>A Holistic Approach Nurtu</h3>
										</div>
										<ul>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="http://placehold.it/370x253" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>A Holistic Approach Nurtu</h3>
										</div>
										<ul>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="http://placehold.it/370x397" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>A Holistic Approach Nurtu</h3>
										</div>
										<ul>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="http://placehold.it/370x397" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>A Holistic Approach Nurtu</h3>
										</div>
										<ul>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>

								<div class="col-md-4">
									<div class="gallery lightbox">
										<img src="http://placehold.it/370x253" alt="" />
										<div class="gallery-title">
											<i class="fa fa-picture-o"></i>
											<h3>A Holistic Approach Nurtu</h3>
										</div>
										<ul>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
											<li><a href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
										</ul>
									</div><!-- GALLERY ITEM -->
								</div>
							</div>
						</div>
					</div>

					<div class="theme-pagination">
						<ul class="pagination">
							<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div><!-- PAGINATION -->

				</div>
			</div>
		</div>
	</div>
</section>
