<div class="slider">
  <div class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
      <ul>
        <li data-transition="zoomout" data-slotamount="10" data-masterspeed="3000" >
          <img src="images/slider/slider1.jpg"  alt="slidebg1" class="rev-slidebg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-no-retina></img>
      </li>

      <li data-transition="zoomin" data-slotamount="10" data-masterspeed="3000" >
        <img src="http://placehold.it/1366x624"  alt="slidebg2" class="rev-slidebg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-no-retina />
        <div class="tp-caption slide-title2 tp-resizeme rs-parallaxlevel-2" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['100','100','100','100']" data-voffset="['0','0','0','0']" data-fontsize="['37','37','27','27']" data-lineheight="['37','37','27','27']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1.5;sY:0.9;skX:0.9;skY:0;opacity:0;s:2000;e:Back.easeInOut;" data-transform_out="x:left(R);s:2000;e:Back.easeIn;s:1000;e:Back.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="; white-space: nowrap;">Save Our Future <span>HELP KIDS</span></div>

        <div class="tp-caption colored-box slide-subtitle2 tp-resizeme rs-parallaxlevel-2" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['170','170','170','170']" data-voffset="['0','0','0','0']" data-fontsize="['18','18','15','15']" data-lineheight="['25','25','20','20']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:2000;e:Back.easeInOut;" data-transform_out="x:left(R);s:2000;e:Back.easeIn;s:1000;e:Back.easeIn;" data-start="1900" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="white-space: nowrap; color: #ffffff;">These poor kids need your special attention.</div>

        <div class="tp-caption white-bg slide-subtitle2 tp-resizeme rs-parallaxlevel-2" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['220','220','220','220']" data-voffset="['0','0','0','0']" data-fontsize="['18','18','15','15']" data-lineheight="['25','25','20','20']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:2000;e:Back.easeInOut;" data-transform_out="x:left(R);s:2000;e:Back.easeIn;s:1000;e:Back.easeIn;" data-start="2100" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="white-space: nowrap;">Step ahead to save this talent.</div>

        <a href="#" title="" class="tp-caption dark-bg slide-button slide-button2 tp-resizeme rs-parallaxlevel-2" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['300','300','300','300']" data-voffset="['0','0','0','0']" data-fontsize="['14','14','13','13']" data-lineheight="['15','15','13','13']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:-45;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:2000;e:Back.easeInOut;" data-transform_out="x:left(R);s:2000;e:Back.easeIn;s:1000;e:Back.easeIn;" data-start="2300" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="white-space: nowrap;"><i class="fa tp-shape fa-shopping-cart"></i>Donate Now</a>
      </li>

      <li data-transition="fade" data-slotamount="10" data-masterspeed="3000" >
        <img src="http://placehold.it/1366x624"  alt="slidebg3" class="rev-slidebg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-no-retina />
        <div class="tp-caption slide-title3 tp-resizeme rs-parallaxlevel-2" data-x="['500','500','500','500']" data-hoffset="['0','0','0','0']" data-y="['100','100','100','100']" data-voffset="['0','0','0','0']" data-fontsize="['36','36','26','26']" data-lineheight="['36','36','26','26']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;" data-start="1700" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="; white-space: nowrap;">Get Everyone Forgivenss Today</div>

        <div class="tp-caption light-bg slide-subtitle3 tp-resizeme rs-parallaxlevel-2" data-x="['500','500','500','500']" data-hoffset="['0','0','0','0']" data-y="['170','170','170','170']" data-voffset="['0','0','0','0']" data-fontsize="['26','26','20','20']" data-lineheight="['26','26','20','20']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:2000;e:Back.easeInOut;" data-transform_out="x:right(R);s:2000;e:Back.easeIn;s:1000;e:Back.easeIn;" data-start="1900" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="white-space: nowrap;">Powerfully Responsive</div>

        <div class="tp-caption light-bg slide-subtitle3 tp-resizeme rs-parallaxlevel-2" data-x="['500','500','500','500']" data-hoffset="['0','0','0','0']" data-y="['213','213','213','213']" data-voffset="['0','0','0','0']" data-fontsize="['26','26','20','20']" data-lineheight="['26','26','20','20']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:2000;e:Back.easeInOut;" data-transform_out="x:right(R);s:2000;e:Back.easeIn;s:1000;e:Back.easeIn;" data-start="2100" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="white-space:">Forgiveness is the most churchelly</div>

        <a href="#" title="" class="tp-caption dark-bg slide-button slide-button2 tp-resizeme rs-parallaxlevel-2" data-x="['500','500','500','500']" data-hoffset="['0','0','0','0']" data-y="['300','300','300','300']" data-voffset="['0','0','0','0']" data-fontsize="['14','14','13','13']" data-lineheight="['15','15','13','13']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:-45;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:2000;e:Back.easeInOut;" data-transform_out="x:right(R);s:2000;e:Back.easeIn;s:1000;e:Back.easeIn;" data-start="2300" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="white-space: nowrap;"><i class="fa tp-shape fa-shopping-cart"></i>Donate Now</a>
      </li>
    </ul>
  </div>
</div><!-- REVOLUTION SLIDER -->
</div>

<!-- PARCEIROS-->
<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-md-4 column">
          <div class="service-block">
            <div class="service-image">
              <img src="images/logo_canaa.png" alt="" />
            </div>
            <h3>Rede Canaã</h3>
            <p>A Rede Canaã de Comunicação é um instrumento de salvação, restauração e dissiminação da palavra de Deus.</p>
            <a href="service-single.html" title="">Saiba Mais...</a>
          </div>
        </div>

        <div class="col-md-4 column">
          <div class="service-block">
            <div class="service-image">
              <img src="images/abni_logo.jpg" alt="" />
            </div>
            <h3>ABNI</h3>
            <p>ABNI (Associassão Batista Novo Israel) voltada para projetos sociais.</p>
            <a href="service-single.html" title="">Saiba Mais...</a>
          </div>
        </div>

        <div class="col-md-4 column">
          <div class="service-block">
            <div class="service-image">
              <img src="http://placehold.it/355x148" alt="" />
              <i class="fa fa-stumbleupon"></i>
            </div>
            <h3>Our Worships</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="service-single.html" title="">READ MORE</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- EVENTOS-->
<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="title3">
          <h2>PROXIMOS <span>EVENTOS</span></h2>
          <p>Fique por dentro de todos os eventos que irao acontecer em nosso templo. <br/> Ore, divulgue e participe!.</p>
        </div>
        <div class="col-md-12 column">
          <div class="fullwidth-carousel">
            <div class="carousel-item">
              <img src="images/eventosPrincipais/ev_jovens.jpg" alt="" />
              <div class="item-detail">
                <h3><a href="#" title="">Congresso de Jovens</a></h3>
                <div class="round-icon">
                  <i class="fa fa-send"></i>
                </div>
                <ul>
                  <li><i class="fa fa-map-marker"></i>  390 Senhora do O, Templo Matriz</li>
                </ul>
                <a href="#" title="">Saiba Mais...</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/eventosPrincipais/ev_marcha_jesus.jpg" alt="" />
              <div class="item-detail">
                <h3><a href="#" title="">Marcha para Jesus</a></h3>
                <div class="round-icon">
                  <i class="fa fa-send"></i>
                </div>
                <ul>
                  <li><i class="fa fa-map-marker"></i>  390 Senhora do O, Templo Matriz</li>
                </ul>
                <a href="#" title="">Saiba Mais...</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/eventosPrincipais/ev_oracao_antioquia1.jpg" alt="" />
              <div class="item-detail">
                <h3><a href="#" title="">Oração: Antioquia I</a></h3>
                <div class="round-icon">
                  <i class="fa fa-send"></i>
                </div>
                <ul>
                  <li><i class="fa fa-map-marker"></i>  600 Senhora do O, Antioquia I</li>
                </ul>
                <a href="#" title="">Saiba Mais...</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/eventosPrincipais/ev_santa_ceia.jpg" alt="" />
              <div class="item-detail">
                <h3><a href="#" title="">Santa Ceia</a></h3>
                <div class="round-icon">
                  <i class="fa fa-send"></i>
                </div>
                <ul>
                  <li><i class="fa fa-map-marker"></i>  390 Senhora do O, Templo Matriz</li>
                </ul>
                <a href="#" title="">Saiba Mais...</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/eventosPrincipais/virgilia_almas.jpg" alt="" />
              <div class="item-detail">
                <h3><a href="#" title="">Virgília em busca das almas</a></h3>
                <div class="round-icon">
                  <i class="fa fa-send"></i>
                </div>
                <ul>
                  <li><i class="fa fa-map-marker"></i>  390 Senhora do O, Templo Matriz</li>
                </ul>
                <a href="#" title="">Saiba Mais...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- MINISTERIOS-->
<section>
  <div class="block remove-gap">
    <div class="container">
      <div class="row">
        <div class="title2">
          <h2>NOSSOS <span>MINISTÉRIOS</span></h2>
          <span>Ministérios a serviço do reino!</span>
        </div>
        <div class="col-md-8 column">
          <div class="tab-style">
            <ul class="nav nav-tabs" id="myTab2">
              <li class="col-md-3 active"><a data-toggle="tab" href="#tab1">Min. Homens</a></li>
              <li class="col-md-3"><a data-toggle="tab" href="#tab2">Min. Mulheres</a></li>
              <li class="col-md-3"><a data-toggle="tab" href="#tab3">Min. Louvor</a></li>
              <li class="col-md-3"><a data-toggle="tab" href="#tab4">Min. Jovens</a></li>
            </ul>
            <div class="tab-content" id="myTabContent2">
              <div id="tab1" class="tab-pane fade active in">
                <div class="row">
                  <div class="col-md-8">
                    <h4>Ministério de Homens</h4>
                    <p>Um ministério de homens é a busca ativa por parte de homens para se relacionarem com Deus, com a Sua Palavra e com outros homens com o propósito de ganhar, ajudar e treinar uns aos outros para Cristo.</p>
                    <div class="space"></div>
                    <ul>
                      <li><i class="fa fa-check"></i>  25 Anos.</li>
                      <li><i class="fa fa-check"></i> 350 Participantes. </li>
                      <li><i class="fa fa-check"></i>  Cultos nos 3 domingos de cada mês.</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <img src="http://placehold.it/240x236" alt="" />
                  </div>
                </div>
              </div>
              <div id="tab2" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-8">
                    <h4>Ministério de Mulheres</h4>
                    <p>O Ministério de Mulheres é um segmento da Igreja que visa alcançar o maior número de mulheres aos pés do Senhor Jesus Cristo e, submissas à Sua verdade, que floresçam em seus lares, como mulheres de Deus, virtuosas, brilhando em meio a uma sociedade sem luz, sendo uma bênção para sua família.</p>
                    <div class="space"></div>
                    <ul>
                      <li><i class="fa fa-check"></i>  25 Anos.</li>
                      <li><i class="fa fa-check"></i> 350 Participantes. </li>
                      <li><i class="fa fa-check"></i>  Cultos nos 3 domingos de cada mês.</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <img src="http://placehold.it/240x236" alt="" />
                  </div>
                </div>
              </div>

              <div id="tab3" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-8">
                    <h4>Ministério de Louvor</h4>
                    <p>DEUS AMA A UNIDADE. Que testemunho maravilhoso à Sua bondade quando Seus adoradores riem juntos, oram juntos e se prostram e vivem uma vida ministerial juntos. Esta é uma coisa rara e preciosa, e Deus diz que se VIVERMOS em unidade, Ele comandará BENÇÃOS para nós.</p>
                    <div class="space"></div>
                    <ul>
                      <li><i class="fa fa-check"></i>  Obj 1 </li>
                      <li><i class="fa fa-check"></i> Obj 2 </li>
                      <li><i class="fa fa-check"></i>  Obj 3 </li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <img src="http://placehold.it/240x236" alt="" />
                  </div>
                </div>
              </div>

              <div id="tab4" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-8">
                    <h4>Ministério de Jovens</h4>
                    <p>Nosso ministério é uma família e queremos que você se sinta à vontade, faça amigos e se envolva nessa agitação que é o nosso dia-a-dia.</p>
                    <div class="space"></div>
                    <ul>
                      <li><i class="fa fa-check"></i>  25 Anos.</li>
                      <li><i class="fa fa-check"></i> 500 Participantes. </li>
                      <li><i class="fa fa-check"></i>  Cultos nos 2 domingos de cada mês.</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <img src="http://placehold.it/240x236" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div><!-- TABS STYLE -->
        </div>

        <div class="col-md-4 column">
          <div id="toggle" class="simple-toggle">
            <div class="toggle-item">
              <h2><img src="images/icon2.png" alt="" />Encontre uma igreja</h2>
              <div class="content">
                <p>Encontre uma igreja mais próxima de você e cultue conosco. </p>
                <form>
                  <a href="#" class="button2" title=""><i class="fa fa-rocket"></i>Localizar</a>
                </form>
              </div>
            </div>
            <div class="toggle-item">
              <h2><img src="images/icon3.png" alt="" />Caderno de oração</h2>
              <div class="content">
                <p>Inclua em nosso caderno de orações o seu objetivo.</p>
                <form>
                  <input type="text" placeholder="Nome" />
                  <textarea placeholder="Pedido..."></textarea>
                  <a href="#" class="button2" title=""><i class="fa fa-envelope"></i>Enviar</a>
                </form>
              </div>
            </div>
          </div><!-- ACCORDIONS -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- GALERIA-->
<section>
  <div class="block remove-gap">
    <div class="container">
      <div class="row">
        <div class="title2">
          <span>Confira as fotos de nossos principais eventos</span>
          <h2>NOSSA <span>GALERIA</span></h2>
        </div>
        <div class="col-md-12 column">
          <div class="remove-ext">
            <div class="row">
              <div class="mas-gallery">
                <div class="col-md-3">
                  <div class="gallery">
                    <img src="http://placehold.it/370x397" alt="" />
                    <div class="gallery-title">
                      <i class="fa fa-picture-o"></i>
                      <h3>Congresso de Mulheres - Central</h3>
                    </div>
                    <ul>
                      <li><a  href="images/galeria/15_cong_mulheres_central/Ampliada/ampliada16.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/Miniatura/miniatura16.jpg" alt="" /></a></li>
                      <li><a  href="images/galeria/15_cong_mulheres_central/Ampliada/ampliada7.jpg" title=""><img src="images/galeria/15_cong_mulheres_central/Miniatura/miniatura7.jpg" alt="" /></a></li>
                    </ul>
                  </div><!-- GALLERY ITEM -->
                </div>

                <div class="col-md-3">
                  <div class="gallery">
                    <img src="http://placehold.it/370x397" alt="" />
                    <div class="gallery-title">
                      <i class="fa fa-picture-o"></i>
                      <h3>Congresso Infantil</h3>
                    </div>
                    <ul>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                    </ul>
                  </div><!-- GALLERY ITEM -->
                </div>

                <div class="col-md-3">
                  <div class="gallery">
                    <img src="http://placehold.it/370x397" alt="" />
                    <div class="gallery-title">
                      <i class="fa fa-picture-o"></i>
                      <h3>Santa Ceia</h3>
                    </div>
                    <ul>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                    </ul>
                  </div><!-- GALLERY ITEM -->
                </div>

                <div class="col-md-3">
                  <div class="gallery">
                    <img src="http://placehold.it/370x397" alt="" />
                    <div class="gallery-title">
                      <i class="fa fa-picture-o"></i>
                      <h3>Tabernáculos</h3>
                    </div>
                    <ul>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                    </ul>
                  </div><!-- GALLERY ITEM -->
                </div>

                <div class="col-md-3">
                  <div class="gallery">
                    <img src="http://placehold.it/370x397" alt="" />
                    <div class="gallery-title">
                      <i class="fa fa-picture-o"></i>
                      <h3>Círculo de Oração</h3>
                    </div>
                    <ul>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                    </ul>
                  </div><!-- GALLERY ITEM -->
                </div>

                <div class="col-md-3">
                  <div class="gallery">
                    <img src="http://placehold.it/370x397" alt="" />
                    <div class="gallery-title">
                      <i class="fa fa-picture-o"></i>
                      <h3>Pentecostes</h3>
                    </div>
                    <ul>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                    </ul>
                  </div><!-- GALLERY ITEM -->
                </div>

                <div class="col-md-3">
                  <div class="gallery">
                    <img src="http://placehold.it/370x397" alt="" />
                    <div class="gallery-title">
                      <i class="fa fa-picture-o"></i>
                      <h3>Christ Church Picture</h3>
                    </div>
                    <ul>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                    </ul>
                  </div><!-- GALLERY ITEM -->
                </div>

                <div class="col-md-3">
                  <div class="gallery">
                    <img src="http://placehold.it/370x397" alt="" />
                    <div class="gallery-title">
                      <i class="fa fa-picture-o"></i>
                      <h3>Christ Church Picture</h3>
                    </div>
                    <ul>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                      <li><a  href="http://placehold.it/500x500" title=""><img src="http://placehold.it/74x67" alt="" /></a></li>
                    </ul>
                  </div><!-- GALLERY ITEM -->
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- TWITTER-->
<section>
  <div class="block remove-gap coloured">
    <div class="parallax" style="background:url(images/parallax3.jpg);"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="latest-tweets">
            <span><i class="fa fa-twitter"></i></span>
            <div class="tweets-slides">
              <div class="tweet">
                <p>Redownload an updates of this great #themeforest item 'Raddin - Elegant #Bootstrap #dark #Joomla #Templates' http://t.co/6NIBtFQ3yu</p>
                <span>(  About 5 hours ago  )</span>
              </div>
              <div class="tweet">
                <p>Redownload an updates of this great #themeforest item 'Raddin - Elegant #Bootstrap #dark #Joomla #Templates' http://t.co/6NIBtFQ3yu</p>
                <span>(  About 5 hours ago  )</span>
              </div>
              <div class="tweet">
                <p>Redownload an updates of this great #themeforest item 'Raddin - Elegant #Bootstrap #dark #Joomla #Templates' http://t.co/6NIBtFQ3yu</p>
                <span>(  About 5 hours ago  )</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
