		<div class="page-top">
			<div class="parallax" style="background:url(images/parallax1.jpg);"></div>
			<div class="container">
				<h1>Nossos <span>Ministérios</span></h1>
				<ul>
					<li><a href="index.html" title="">Home</a></li>
					<li><a href="services.html" title="">Ministérios</a></li>
				</ul>
			</div>
		</div><!--- PAGE TOP -->
		<section>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-md-12 column">
							<div class="row">
								<div class="service-listing">
									<div class="col-md-4 column">
										<div class="service-block">
											<div class="service-image">
												<img src="http://placehold.it/355x148" alt="" />
												<i class="fa fa-codepen"></i>
											</div>
											<h3>Our Partnerships</h3>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<a href="#/ministerios/detalhe" title="">Saiba Mais...</a>
										</div>
									</div>

									<div class="col-md-4 column">
										<div class="service-block">
											<div class="service-image">
												<img src="http://placehold.it/355x148" alt="" />
												<i class="fa fa-vine"></i>
											</div>
											<h3>Our Prayers</h3>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<a href="#/ministerios/detalhe" title="">Saiba Mais...</a>
										</div>
									</div>

									<div class="col-md-4 column">
										<div class="service-block">
											<div class="service-image">
												<img src="http://placehold.it/355x148" alt="" />
												<i class="fa fa-stumbleupon"></i>
											</div>
											<h3>Our Worships</h3>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<a href="#/ministerios/detalhe" title="">Saiba Mais...</a>
										</div>
									</div>

									<div class="col-md-4 column">
										<div class="service-block">
											<div class="service-image">
												<img src="http://placehold.it/355x148" alt="" />
												<i class="fa fa-codepen"></i>
											</div>
											<h3>Our Partnerships</h3>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<a href="#/ministerios/detalhe" title="">Saiba Mais...</a>
										</div>
									</div>

									<div class="col-md-4 column">
										<div class="service-block">
											<div class="service-image">
												<img src="http://placehold.it/355x148" alt="" />
												<i class="fa fa-vine"></i>
											</div>
											<h3>Our Prayers</h3>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<a href="#/ministerios/detalhe" title="">Saiba Mais...</a>
										</div>
									</div>

									<div class="col-md-4 column">
										<div class="service-block">
											<div class="service-image">
												<img src="http://placehold.it/355x148" alt="" />
												<i class="fa fa-stumbleupon"></i>
											</div>
											<h3>Our Worships</h3>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<a href="#/ministerios/detalhe" title="">Saiba Mais...</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="theme-pagination">
							<ul class="pagination">
								<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div><!-- PAGINATION -->

					</div>
				</div>
			</div>
		</div>
	  </section>
