<footer>
  <div class="block blackish">
    <div class="parallax" style="background:url(images/parallax5.jpg);"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="widget">
            <div class="about">
              <img src="images/logo.png" alt="" hidden="true"/>
              <span>Primeira Igreja Batista de Filadélfia </br> Missão Novo Israel</span>
              <div class="contact">
                <ul>
                  <li><span><i class="fa fa-phone"></i>Telefone :</span> (81) 3559-1498</li>
                  <li><span><i class="fa fa-envelope"></i>E-mail:</span> missaonovoisrael@hotmail.com</li>
                  <li><span><i class="fa fa-home"></i>Endereço:</span> R. Silvino Alves, 27 - Nossa Sra. do Ó, Ipojuca - PE</li>
                </ul>
              </div>
              <ul class="social-media">
                <li><a href="#" title="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a title="" href="https://www.facebook.com/missaoevangelicadonovoisrael" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a title="" href="https://www.youtube.com/channel/UCr17oQ-HGg8Wi8NwcJPDa1g" target="_blank"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div><!-- ABOUT WIDGET -->
        <div class="col-md-6">
          <div class="widget">
            <div class="widget-title"><h4>Contato</h4></div>
            <div class="quick-message">
              <div id="message"></div>
              <form method="post" action="contact.php" name="contactform" id="contactform">
                <input name="name" class="half-field form-control" type="text" id="name"  placeholder="Nome" />
                <input name="email" class="half-field form-control" type="text" id="email" placeholder="Email" />
                <textarea name="comments" class="form-control" id="comments" placeholder="Mensagem" ></textarea>
                <input class="submit" type="submit"  id="submit" value="Enviar..." />
              </form><!--- FORM -->
            </div>
          </div>
        </div><!-- QUICK MESSAGE WIDGET -->
      </div>
    </div>
  </div>
</footer><!-- FOOTER -->

<div class="bottom-footer">
  <div class="container">
    <p>©2016 <a href="#" title="">Deeds</a> Wordpress All rights reserved. Design by <a href="https://about.me/thiagovirgilio" title="" target="_blank">Thiago Gomes</a></p>

  </div>
</div><!-- BOTTOM FOOTER STRIP -->
