<header class="header2">
  <div class="topbar">
    <div class="container">
      <div class="header-timer">
        <p>Próximo Evento:</p>
        <ul class="headercounter">
          <li> <span class="days">01</span>
            <p class="days_ref">Dia(s)</p>
          </li>
          <li> <span class="hours">05</span>
            <p class="hours_ref">Hora(s)</p>
          </li>
          <li> <span class="minutes">20</span>
            <p class="minutes_ref">Min</p>
          </li>
          <li> <span class="seconds">60</span>
            <p class="seconds_ref">Seg</p>
          </li>
        </ul>
      </div>
      <p><i class="fa fa-mobile"></i> Contato: +55 (81) 3559-1498</p><!--- CONTACT -->
      <p><i class="fa fa-envelope"></i>missaonovoisrael@pibnovoisrael.com.br</p><!--- EMAIL -->
      <ul class="social-media">
        <li><a title="" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a title="" href="https://www.facebook.com/missaoevangelicadonovoisrael" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a title="" href="https://www.youtube.com/channel/UCr17oQ-HGg8Wi8NwcJPDa1g" target="_blank"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
  </div><!--- TOP BAR -->
  <nav>
    <div class="container">
      <div class="logo">
        <a href="#/" title=""><img src="images/logo_pib.jpg" alt="" /></a>
      </div><!--- LOGO -->
      <ul>
        <!--- HOME -->
        <li class="menu-item-has-children"><a href="#/" title="">Home</a>
        </li>
        <!--- MISSOES -->
        <li class="menu-item-has-children"><a href="#" title="">Missões</a>
          <ul>
            <li><a href="#" title="">Área 01 - Central</a>
              <ul>
                <li><a href="" title="">Antioquia</a>
                    <ul>
                      <li><a href="#/igreja/detalhe/" title="">Antioquia I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Antioquia II</a></li>
                    </ul>
                </li>
                <li><a href="#" title="">Betesda</a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">Betesda I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Betesda II</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Betesda III</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Betesda IV</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Betesda V</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Betesda VI</a></li>
                    </ul>
                </li>
                <li><a href="#/igreja/detalhe/generica" title="">Betsaida</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Esmirna</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Canoas</a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">Canoas I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Canoas II</a></li>
                    </ul>
                </li>
                <li><a href="#" title="">Rurópolis</a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">Rurópolis I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Rurópolis II</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Rurópolis III</a></li>
                    </ul>
                </li>
                <li><a href="#/igreja/detalhe/generica" title="">Engº Macaco</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Engº Boa Cica</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Monte Sinai</a></li>
                <li><a href="#" title="">Camela</a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">Camela I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Camela II</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Beira Rio</a></li>
                    </ul>
                </li>
              <li><a href="#/igreja/detalhe/generica" title="">Maceió</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Hebron</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Peniel(Ponto de Pregação)</a></li>
              </ul>
            </li>

            <li><a href="#" title="">Área 02 - Litoral Sul</a>
              <ul>
                <li><a href="#/igreja/detalhe/generica" title="">Salinas II</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Socó</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Ilha do Álvaro</a></li>
                <li><a href="#" title="">Maracaípe</a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">Maracaípe</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Maracaípe II</a></li>
                    </ul>
                </li>
                <li><a href="#" title="">Serrambí </a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">Serrambí I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Serrambí II</a></li>
                    </ul>
                </li>
                <li><a href="#/igreja/detalhe/generica" title="">Jenipapo</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Santa Rosa</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Sirinhaém</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Santo Amaro</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Barra Sirinhaém</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Casado</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Rio Formoso</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Tamandaré</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Barreiros</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">São José </a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Pantanal</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Caruaru</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Alto Bonito</a></li>
              </ul>
            </li>

            <li><a href="#" title="">Área 03 - Metropolitana</a>
              <ul>
                <li><a href="#" title="">Éfeso</a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">Éfeso I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Éfeso II</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Éfeso III</a></li>
                    </ul>
                </li>
                <li><a href="#/igreja/detalhe/generica" title="">Garapú</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Monte da Benção</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Pirapama</a></li>

                <li><a href="#" title="">Serraria</a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">Serraria I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Serraria II</a></li>
                    </ul>
                </li>
                <li><a href="#/igreja/detalhe/generica" title="">Massangana</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Ponte dos Carvalhos</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Jardim Prazeres</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Carpina</a></li>
                <li><a href="#" title="">Pombos</a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">Pombos I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Pombos II</a></li>
                    </ul>
                </li>
                <li><a href="#/igreja/detalhe/generica" title="">Jaboatão</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Limoeiro</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Penedo</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Porteira Preta</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">São Lourenço</a></li>
              </ul>
            </li>

            <li><a href="#" title="">Área 04 - Mata Sul</a>
              <ul>
                <li><a href="#/igreja/detalhe/generica" title="">Califórnia</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Trapiche</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Santo Cristo</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Alvorada</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Nova Cidade</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Vila Operaria</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Monte Sião</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Ribeirão</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Primavera</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Água Preta</a></li>
                <li><a href="#" title="">Gameleira </a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">Gameleira I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Gameleira II</a></li>
                    </ul>
                </li>

              <li><a href="#/igreja/detalhe/generica" title="">Montevideo(Ponto de Pregação)</a></li>
              <li><a href="#/igreja/detalhe/generica" title="">Campo do Avião(Ponto de Pregação)</a></li>
              <li><a href="#/igreja/detalhe/generica" title="">Nova Primavera(Ponto de Pregação)</a></li>
              <li><a href="#/igreja/detalhe/generica" title="">Carasetuba(Ponto de Pregação)</a></li>
              <li><a href="#/igreja/detalhe/generica" title="">Pedreira(Ponto de Pregação)</a></li>
              <li><a href="#/igreja/detalhe/generica" title="">Nova Água Preta(Ponto de Pregação)</a></li>
              </ul>
            </li>

            <li><a href="#" title="">Área 05 - Agreste e Sertão</a>

              <ul>
                <li><a href="#/igreja/detalhe/generica" title="">Magana</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Poço Fundo</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Jataúba</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Santa Cruz</a></li>
                <li><a href="#" title="">Toritama </a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">Toritama I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">Toritama II</a></li>
                    </ul>
                </li>
                <li><a href="#/igreja/detalhe/generica" title="">Taguaritinga</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Vila Socorro</a></li>
              </ul>

            </li>

            <li><a href="#" title="">Estaduais </a>

              <ul>
                <li><a href="#" title="">São Paulo</a>
                    <ul>
                      <li><a href="#/igreja/detalhe/generica" title="">São Paulo I</a></li>
                      <li><a href="#/igreja/detalhe/generica" title="">São Paulo II</a></li>
                    </ul>
                </li>
              </ul>
            </li>

            <li><a href="#" title="">Estrangeiro </a>
              <ul>
                <li><a href="#/igreja/detalhe/generica" title="">Cartaxo</a></li>
                <li><a href="#/igreja/detalhe/generica" title="">Alcanena </a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="menu-item-has-children"><a href="#/eventos" title="" hidden="true">Eventos</a>
        </li>

        <li class="menu-item-has-children"><a href="#/galeria" title="">Galeria</a>
        </li>

        <li class="menu-item-has-children"><a href="#/agenda" title="">Agenda</a>
        </li>

        <!--
        <li class="menu-item-has-children"><a href="#/sermoes" title="">Sermões</a>
        </li>
        -->
        <!--
        <<li class="menu-item-has-children"><a href="#/ministerios" title="">Ministérios</a>
        </li>
        -->

        <li class="menu-item-has-children"><a href="#/igreja" title="">A Igreja</a>
        </li>

        <li class="menu-item-has-children"><a href="#/contato" title="">Contato</a>
        </li>
      </ul>
    </div>
  </nav>
</header><!--- HEADER -->
<div class="responsive-header">
  <div class="responsive-prayer">
    <p>Upcoming Prayers:</p>
    <ul class="headercounter">
      <li><span class="days">00</span><p class="days_ref">DAYS</p></li>
      <li><span class="hours">00</span><p class="hours_ref">HOURS</p></li>
      <li><span class="minutes">00</span><p class="minutes_ref">MINTS</p></li>
      <li><span class="seconds">00</span><p class="seconds_ref">SECS</p></li>
    </ul>
  </div><!-- Responsive Prayer -->
  <div class="responsive-contact">
    <span>
      <p class="responsive-phone"><i class="fa fa-phone"></i> 24/7 Support: 0800-1924-1</p>
      <p class="responsive-mail"><i class="fa fa-envelope"></i> Youremail@yourdomain.com</p>
    </span>
    <a class="phone-btn active" href="#" title=""><i class="fa fa-phone"></i></a>
    <a class="mail-btn" href="#" title=""><i class="fa fa-envelope"></i></a>
  </div><!-- Responsive Contact -->
  <div class="responsive-extras">
    <div class="responsive-search">
      <span><i class="fa fa-search"></i></span>
      <form>
        <input type="text" placeholder="Enter Your Search Here" />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form><!-- Responsive Search -->
    </div>
    <div class="responsive-social">
      <a href="#" title=""><i class="fa fa-twitter"></i></a>
      <a href="#" title=""><i class="fa fa-facebook"></i></a>
      <a href="#" title=""><i class="fa fa-google-plus"></i></a>
      <a href="#" title=""><i class="fa fa-linkedin"></i></a>
    </div><!-- Responsive Social -->
    <div class="responsive-cart"><i class="fa fa-shopping-cart"></i> 0 items - <span>.00</span></div>
  </div><!-- Responsive Extras -->
  <div class="responisve-bar">
    <div class="responsive-logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>
    <span class="responsive-btn"><i class="fa fa-list"></i></span>
  </div>
</div><!-- Responsive Header -->
<div class="responsive-menu">
  <ul>
    <li class="menu-item-has-children"><a href="#" title="">Home</a>
      <ul>
        <li><a href="index.html" title="">Home Page 1</a></li>
        <li><a href="index2.html" title="">Home Page 2</a></li>
        <li><a href="index3.html" title="">Home Page 3</a></li>
        <li><a href="index4.html" title="">Home Page 4</a></li>
        <li><a href="index5.html" title="">Home Page 5</a></li>
        <li><a href="index6.html" title="">Home Page 6</a></li>
        <li><a href="index7.html" title="">Home Page 7</a></li>
        <li><a href="index8.html" title="">Home Page 8</a></li>
      </ul>
    </li>
    <li class="menu-item-has-children"><a href="#" title="">Pages</a>
      <ul>
        <li><a href="elements.html" title="">Elements</a></li>
        <li class="menu-item-has-children"><a href="#" title="">Church Stories</a>
          <ul>
            <li><a href="church-stories.html" title="">Church Stories List</a></li>
            <li><a href="church-story-single.html" title="">Church Story Single</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="#" title="">Events Page</a>
          <ul>
            <li><a href="events-grid.html" title="">Events Grid View</a></li>
            <li><a href="event-single.html" title="">Events Single Page</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="#" title="">Search Pages</a>
          <ul>
            <li><a href="search-found.html" title="">Search Found</a></li>
            <li><a href="nothing-found.html" title="">Nothing Found</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="#" title="">Services</a>
          <ul>
            <li><a href="services.html" title="">Services List</a></li>
            <li><a href="service-single.html" title="">Service Single</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="#" title="">Team Pages</a>
          <ul>
            <li><a href="team.html" title="">Team</a></li>
            <li><a href="team-single.html" title="">Team Single Page</a></li>
          </ul>
        </li>
        <li><a href="widgets.html" title="">Widgets</a></li>
        <li><a href="prayers.html" title="">Prayers</a></li>
        <li><a href="ministry-detail.html" title="">Ministry Detail</a></li>
        <li><a href="404.html" title="">Error 404</a></li>
        <li><a href="title-style.html" title="">Title Styles</a></li>
      </ul>
    </li>
    <li class="menu-item-has-children"><a href="#" title="">Gallery</a>
      <ul>
        <li><a href="gallery.html" title="">Masonary 3 Col</a></li>
        <li><a href="gallery2.html" title="">Masonary 4 Col</a></li>
        <li><a href="gallery3.html" title="">Simple 3 Col</a></li>
        <li><a href="gallery4.html" title="">Simple 4 Col</a></li>
      </ul>
    </li>
    <li class="menu-item-has-children"><a href="#" title="">Shop</a>
      <ul>
        <li><a href="products.html" title="">Products Page</a></li>
        <li><a href="product-single.html" title="">Product Single Page</a></li>
        <li><a href="cart.html" title="">Cart Page</a></li>
        <li><a href="checkout.html" title="">Checkout Page</a></li>
        <li><a href="order-recieved.html" title="">Order Recieved</a></li>
      </ul>
    </li>
    <li class="menu-item-has-children"><a href="#" title="">Blog</a>
      <ul>
        <li><a href="blog.html" title="">Blog</a></li>
        <li><a href="blog-single.html" title="">Blog Single Page</a></li>
      </ul>
    </li>
    <li class="menu-item-has-children"><a href="#" title="">Sermons</a>
      <ul>
        <li><a href="sermon.html" title="">Sermons</a></li>
        <li><a href="sermon-single.html" title="">Sermon Single Page</a></li>
      </ul>
    </li>
    <li><a href="about.html" title="">About</a></li>
    <li><a href="contact.html" title="">Contact</a></li>
  </ul>
</div><!-- Responsive Menu -->
