@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
.containerAgenda th h1 {
	  font-weight: bold;
	  font-size: 1em;
    text-align: left;
    color: #ffffff;
}

.containerAgenda td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #ffffff;
	   -moz-box-shadow: 0 2px 2px -2px #ffffff;
	        box-shadow: 0 2px 2px -2px #ffffff;
}

.containerAgenda {
	  text-align: left;
	  overflow: hidden;
	  margin: 0 auto;
    display: table;
    padding: 0 0 5em 0;
}

.containerAgenda td, .containerAgenda th {
	  padding-bottom: 1%;
	  padding-top: 1%;
    padding-left:1%;
    border: 1px solid #b78116;
}

/* Background-color of the odd rows */
.containerAgenda tr:nth-child(odd) {
	  background-color: #ffffff;
}

/* Background-color of the even rows */
.containerAgenda tr:nth-child(even) {
	  background-color: #ffffff;
}

.containerAgenda th {
	  background-color: #b78116;
}

.containerAgenda td:hover {
  background-color: #b78116;
  color: #ffffff;
  font-weight: bold;

  box-shadow: #a06e0b -1px 1px, #a06e0b -2px 2px, #a06e0b -3px 3px, #a06e0b -4px 4px, #a06e0b -5px 5px, #a06e0b -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
  transition-timing-function: line;
}
